[tool.poetry]
name = "shellcraft"
version = "0.11.0"
description = "ShellCraft is a command line based crafting game."
authors = ["Manuel Ebert <manuel@1450.me>"]
license = "MIT"
readme = "README.md"
homepage = "https://maebert.github.io/shellcraft"
repository = "https://github.com/maebert/shellcraft"
include = ["src/*.yaml", "src/*.grammar", "src/*.proto"]

[tool.poetry.dependencies]
python = "^3.6"
click = "^7.0"
protobuf = "^3.8"
poyo = {git = "https://github.com/maebert/poyo.git"}

[tool.poetry.dev-dependencies]
mkdocs = "^1.0"
pytest = "^5.0"
flake8 = "^3.7"
black = {version = "^18.3-alpha.0", allows-prereleases = true}
tox = "^3.13"

[tool.poetry.scripts]
shellcraft = 'src.shellcraft.cli:main'

[tool.flake8]
exclude = ["docs", "*pb2.py"]
ignore = ["E501"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
